body {
  background-color: black;
  color: white; /* Optional: Set text color to white for better visibility */
}

.container {
  border-width: 3px;
  border-style: solid;
  border-color: blue;
  height: 400px;

  /* display flex is horizontal by default */
  display: flex;
  /*flex-direction: column;*/

  /*justify-content: center;*/

  /*align-items: center;*/

  /* flex-wrap: wrap; */
  align-content: center;
}

.element {
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  background-color: green;
  height: 50px;
}

.element-1 {
  /* flex: 1; */
  /* flex-grow: 1; */
  /* flex-basis: 200px; */
  /* width: 200px; */

  align-self: end;
}

/* .element-2 {
  flex-grow: 2;
} */
